<div class="h-100 main">
  <div class="p-5  child">
    <h1 class="text-center mb-4">Shoes store</h1>
    <p class="fs-5 fw-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod et doloremque aspernatur molestiae
      repellat facere dignissimos, sint atque, accusantium voluptatem cumque assumenda possimus ea deleniti numquam
      nesciunt, inventore delectus tempora officiis asperiores placeat! Illo expedita itaque, voluptatibus aperiam quas
      temporibus porro modi totam officia quod sint id. Nihil quas, aliquid laborum esse debitis temporibus officiis
      magni aperiam? Debitis totam sint vero laborum magnam modi ut placeat facilis voluptatum aspernatur ex quas non
      sequi molestias fugit alias, molestiae laboriosam unde at.</p>
  </div>
</div>
