<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" *ngIf="isLogin">
      <div class="d-flex flex-column align-items-center mt-5 align-items-sm-start px-3 pt-2  min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
          <span class="fs-5 d-none d-sm-inline text-white">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link  align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="bi bi-people-fill fs-4"></i> <span class="ms-1 d-none d-sm-inline">Products</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a routerLink="/allProducts"  class="nav-link px-0">GETAll Products</a>
              </li>
              <li class="w-100">
                <a routerLink="/myProducts" class="nav-link px-0">GET My Products</a>
              </li>
              <li class="w-100">
                <a  routerLink="/addProduct" class="nav-link px-0">ADD Product</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a  class="nav-link  align-middle px-0 cursor-pointer">
              <i class="bi bi-box-arrow-left fs-4"></i> <span class="ms-1 d-none d-sm-inline" (click)="logout()">Log
                out</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
