/* You can add global styles to this file, and also import other style files */
:root {
  --maincolor: #C64D42;
  --hover:#6c2f29;
}

*{
  padding: 0%;
  margin: 0%;

}
body{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
